<!DOCTYPE html>
<html lang="ru">
	@@include('tpl/head.html')

	<body>
		<section class="welcome">
			<div class="welcome__lungs welcome__lungs--top">
				<img src="/images/bg-lungs--white.png" alt="lungs" />
			</div>

			<div class="welcome__container _container">
				@@include('tpl/header.html')

				<p class="welcome__text">
					Eдинственный отечественный препарат легочного сурфактанта
				</p>
				<h1 class="welcome__title">Сурфактант-<span>БЛ</span></h1>
				<p class="welcome__tagline">Дышать легко!</p>
			</div>

			<div class="welcome__lungs welcome__lungs--right">
				<img src="/images/bg-lungs--white.png" alt="lungs" />
			</div>
		</section>

		<section class="about">
			<div class="about__bg">
				<img src="/images/bg-about.png" alt="about" />
			</div>

			<div class="about__container _container">
				<div class="about__image">
					<img src="/images/about.png" alt="about" />
				</div>

				<div class="about__content">
					<h2 class="about__title">О препарате</h2>
					<p class="about__text">
						<span>Сурфактант-БЛ</span> разработан для лечения респираторного
						дистресс-синдрома (РДС) новорожденных. Причиной этого заболевания является
						недостаточность легочного сурфактанта, связанная с незрелостью тканей
						легкого недоношенного новорожденного.
					</p>
					<p class="about__text">
						Респираторный дистресс-синдром взрослых также связан с повреждением
						сурфактантной системы легких.
					</p>

					<h3 class="about__subtitle">
						Сурфактант-БЛ — единственный в мире сурфактант для лечения ОРДС и связанных
						с ним заболеваний
					</h3>

					<ul class="about__list">
						<li class="about__text about__text--semibold">
							Разработан учеными из Санкт-Петербурга
						</li>
						<li class="about__text about__text--semibold">
							Зарегистрирован в России как лекарственное средство в 2000 г.
						</li>
						<li class="about__text about__text--semibold">
							Разрешен для применения у взрослых с ОРДС в 2003 г.
						</li>
						<li class="about__text about__text--semibold">
							Запатентованная технология
						</li>
						<li class="about__text about__text--semibold">
							Производится в России во флаконах 25 мг и 75 мг
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="composition">
			<div class="composition__container _container">
				<h2 class="composition__title">
					Состав Сурфактанта-БЛ <br />
					максимально приближен к эндогенному
				</h2>

				<div class="composition__body">
					<div class="composition__left">
						<p class="composition__text-left">
							<strong>Лёгочный сурфактант</strong> – это многокомпонтентный
							липидно-белковый комплекс, который выполняет в организме целый ряд
							важных функций.
						</p>
						<p class="composition__text-left">
							<strong>Состав Сурфактанта-БЛ</strong> максимально приближен к
							эндогенному, что объясняет его эффективность при заболеваниях, связанных
							с дефицитом или изменением состава легочного сурфактанта.
						</p>
					</div>

					<div class="composition__right">
						<p class="composition__text-right">
							Аналоги <strong>Сурфактанта-БЛ</strong> можно охарактеризовать как
							“монокомпонентные”, т.к. при их производстве удаляются важные
							сурфактант-ассоциированные белки. Но вместе с утратой
							многокомпонентности теряется и ряд важных функций, чем и объясняется то,
							что препараты требуют большей чем <br />
							<strong>Сурфактант-БЛ</strong> терапевтической дозы и не эффективны у
							взрослых.
						</p>
						<p class="composition__text-right">
							В состав современных синтетических препаратов включают полученные
							методами генной инженерии сурфактант-ассоциированные белки. Но
							вследствие упрощенного состава, эти препараты не способны полноценно
							заменить эндогенный сурфактант.
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="only">
			<div class="only__bg">
				<img src="/images/bg-only.png" alt="only" />
			</div>

			<div class="only__container _container">
				<div class="only__image">
					<img src="/images/only.png" alt="only" />
				</div>

				<div class="only__content">
					<h2 class="only__title">
						Сурфактант-БЛ единственный препарат разрешенный для лечения РДС взрослых.
					</h2>

					<p class="only__text">
						Ежегодно в мире диагностируется ~200 000 случаев острого респираторного
						дистрес- синдрома у взрослых (ОРДС).
					</p>

					<div class="only__meter-wrap">
						<p class="only__text only__text--meter">
							Смертность при ОРДС
						</p>

						<div class="only__meter">
							<span class="only__percent">в среднем 45%</span>
							<div class="only__strip" style="width: 45%;"></div>
						</div>
					</div>

					<p class="only__text">
						Однако ни один из выведенных на мировой рынок лёгочных сурфактантов не смог
						получить одобрения для терапии ОРДС.
					</p>

					<h3 class="only__subtitle">
						Только Сурфактант-БЛ имеет зарегистрированные показания у взрослых
					</h3>

					<p class="only__text">
						Опыт его применения у более, чем 200 больных показал, что его использование,
						в течение первых суток (лучше часов) развития тяжелой гипоксемии, при
						проведении исчерпывающей базовой терапии и грамотной ИВЛ позволяет:
					</p>
					<ul class="only__list">
						<li class="only__text only__text--bold">
							До 6-10 суток уменьшить время нахождения больных на аппаратной ИВЛ
						</li>
						<li class="only__text only__text--bold">
							Снизить летальность от дыхательной недостаточности с 60-80% до 15–20%.
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="disease">
			<div class="disease__container _container">
				<h2 class="disease__title">
					Более 20 жизнеугрожающих болезней ассоциировано с ОРДС
				</h2>

				<div class="disease__body">
					<ul class="disease__column">
						<li class="disease__text">отек легких</li>
						<li class="disease__text">лептоспироз</li>
						<li class="disease__text">плеврит</li>
						<li class="disease__text">брюшной тиф</li>
						<li class="disease__text">конъюнктивит</li>
					</ul>

					<ul class="disease__column">
						<li class="disease__text">компартмент-синдром</li>
						<li class="disease__text">острый панкреатит</li>
						<li class="disease__text">легочный фиброз</li>
						<li class="disease__text">ветряная оспа</li>
						<li class="disease__text">бронхопневмония</li>
					</ul>

					<ul class="disease__column">
						<li class="disease__text">Астматический статус</li>
						<li class="disease__text">цитомегаловирусная инфекция</li>
						<li class="disease__text">аневризмы головного мозга</li>
						<li class="disease__text">синдром токсического шока</li>
						<li class="disease__text">аспирационная пневмония</li>
					</ul>

					<ul class="disease__column">
						<li class="disease__text">интерстициальная эмфизема легких</li>
						<li class="disease__text">застойная сердечная недостаточность</li>
						<li class="disease__text">Гипертрофическая кардиомиопатия</li>
						<li class="disease__text">гемофагоцитарный лимфогистиоцитоз</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="treatment">
			<div class="treatment__container _container">
				<h2 class="treatment__title">
					Своевременное <br />
					применение Сурфактанта-БЛ при РДС <br />
					новорожденных позволяет:
				</h2>
				<div class="treatment__items">
					<div class="treatment-item">
						<div class="treatment-item__image">
							<img src="/images/treatment-1.png" alt="treatment" />
						</div>
						<p class="treatment-item__text">
							<span class="treatment-item__number">1</span>

							Быстро уходить от повреждающих режимов при искусственной вентиляции
							легких.
						</p>
					</div>
					<div class="treatment-item">
						<div class="treatment-item__image">
							<img src="/images/treatment-2.png" alt="treatment" />
						</div>
						<p class="treatment-item__text">
							<span class="treatment-item__number">2</span>

							Cущественно (на 28-30 часов по сравнению с контролем) уменьшить время
							достижения нетоксической концентрации кислорода (40%) во вдыхаемой
							газовой смеси.
						</p>
					</div>
					<div class="treatment-item">
						<div class="treatment-item__image">
							<img src="/images/treatment-3.png" alt="treatment" />
						</div>
						<p class="treatment-item__text">
							<span class="treatment-item__number">3</span>

							Cократить время нахождения новорожденных на аппарате искусственной
							вентиляции легких на 2-8 суток.
						</p>
					</div>
					<div class="treatment-item">
						<div class="treatment-item__image">
							<img src="/images/treatment-4.png" alt="treatment" />
						</div>
						<p class="treatment-item__text">
							<span class="treatment-item__number">4</span>

							Существенно уменьшить частоту таких осложнений искусственной вентиляции
							легких и периода новорожденности, как внутрижелудочковые кровоизлияния и
							бронхолегочная дисплазия.
						</p>
					</div>
					<div class="treatment-item">
						<div class="treatment-item__image">
							<img src="/images/treatment-5.png" alt="treatment" />
						</div>
						<p class="treatment-item__text">
							<span class="treatment-item__number">5</span>

							Значительно (в 2-3 раза) уменьшить летальность от респираторного
							дистресс-синдрома.
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="effective">
			<div class="effective__lungs">
				<img src="/images/bg-lungs--saturated.png" alt="lungs" />
			</div>

			<div class="effective__container _container">
				<h2 class="effective__title">
					В рамках пилотных клинических испытаний, проведенных в ЦНИИ Туберкулеза РАМН
					показано, что Сурфактант-БЛ высокоэффективен при комплексном лечении туберкулеза
					легких
				</h2>
				<div class="effective__body">
					<div class="effective__content">
						<p class="effective__text">
							<span>В исследовании приняли участие 60 пациентов</span>, пораженных
							микобактериями, характеризующимися множественной лекарственной
							устойчивостью. Все больные были бактериовыделителями, безуспешно
							леченными в течение 3-10 месяцев.
						</p>
						<p class="effective__text">
							<span
								>Показано, что 8 недельный курс (600-700 мг) Сурфактанта-БЛ в
								комплексе с 4-5 противотуберкулезными препаратами, позволяет
								добиться:</span
							>
						</p>
					</div>
					<div class="effective__items">
						<div class="effective-item">
							<div class="effective-item__meter">
								<span class="effective-item__percent">85,7% больных </span>
								<div class="effective-item__strip" style="width: 86%;"></div>
							</div>
							<p class="effective-item__text">
								Абацилирование (исчезновения бактерий в мокроте)
							</p>
						</div>
						<div class="effective-item">
							<div class="effective-item__meter">
								<span class="effective-item__percent">94,3% больных </span>
								<div class="effective-item__strip" style="width: 94%;"></div>
							</div>
							<p class="effective-item__text">Рассасывание инфильтратов</p>
						</div>
						<div class="effective-item">
							<div class="effective-item__meter">
								<span class="effective-item__percent">82,9% больных </span>
								<div class="effective-item__strip" style="width: 83%;"></div>
							</div>
							<p class="effective-item__text">Закрытие полостей распада</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="epidemics">
			<div class="epidemics__container _container">
				<div class="epidemics__image">
					<img src="/images/epidemics.png" alt="epidemics" />
				</div>

				<div class="epidemics__content">
					<h2 class="epidemics__title">
						Сурфактант-БЛ в комплексной терапии вирусной пневмонии во время эпидемий
					</h2>
					<p class="epidemics__text">
						В России во время эпидемии гриппа A/H1N1 2009-2010 гг. <br />
						<strong>Сурфактант-БЛ</strong> в комплексе с противовирусной терапией
						получили более 200 больных с диагнозом двусторонней вирусной пневмонии.
					</p>
					<p class="epidemics__text epidemics__text--big">
						Получены положительные результаты при применении
						<strong>Сурфактанта-БЛ</strong> в комплексной терапии тяжелых пневмоний у
						пациентов с инфекцией <strong>COVID – 19</strong>.
					</p>
					<p class="epidemics__text">
						Раннее включение препарата <strong>Сурфактант БЛ</strong> в схему лечения
						пневмонии ингаляционным способом через небулайзер в дозировке 75 мг дважды в
						сутки в большинстве случаев предотвращает развитие ОРДС и перевод больных на
						аппарат ИВЛ.
					</p>
					<p class="epidemics__text">
						При уже развившемся ОРДС наряду с противовирусной и респираторной терапией
						применение <strong>Сурфактанта-БЛ</strong> сокращает сроки респираторной
						поддержки, смягчает параметры ИВЛ, снижает летальность и предотвращает
						осложнения, вызванные фиброзом легочной ткани.
					</p>
				</div>
			</div>
		</section>

		<section class="disasters">
			<div class="disasters__container _container">
				<div class="disasters__body">
					<h2 class="disasters__title">
						Сурфактант-БЛ при поражении лёгких вследствие техногенных катастроф
					</h2>
					<p class="disasters__text">
						Препараты лёгочного сурфактанта с успехом применялись в России пострадавшим
						от пожаров для профилактики и лечения ОРДС при ингаляционной травме и
						ожоговой болезни.
					</p>
					<p class="disasters__text disasters__text--big">
						Летальность пациентов при применении
						<strong>Сурфактанта-БЛ</strong> составила всего 18,8%, несмотря на
						изначально неблагоприятный прогноз.
					</p>
				</div>
			</div>

			<div class="disasters__lungs">
				<img src="/images/bg-lungs--beige.png" alt="lungs" />
			</div>
		</section>

		<section class="buy">
			<div class="buy__container _container">
				<div class="buy__left">
					<h2 class="buy__name">Сурфактант-<span>БЛ</span></h2>
					<p class="buy__tagline">Дышать легко!</p>
				</div>

				<div class="buy__content">
					<h3 class="buy__title">Где купить?</h3>

					<div class="buy__columns">
						<div class="buy__column buy__column--1">
							<div class="buy__text buy__text--city">
								<span class="buy__icon">
									<img src="/images/icon-location.svg" alt="location" />
								</span>
								<strong>Санкт-Петербург</strong>
							</div>

							<div class="buy__text">
								<p><strong>Адрес представительства</strong></p>
								<p>
									пос. Песочный, <br />
									ул. Ленинградская, д. 70
								</p>
								<p>Тел./факс: <a href="tel:(812) 596-87-87">(812) 596-87-87</a></p>
								<p><a href="mailto:info@biosurf.ru">info@biosurf.ru</a></p>
							</div>

							<div class="buy__text">
								<p><strong>Аптека Озерки</strong></p>
								<p>2-й Муринский пр., д. 51</p>
								<p>тел.: <a href="tel:+7 (903) 716-94-30">+7 (903) 716-94-30</a></p>
							</div>

							<div class="buy__text">
								<p><strong>ООО «ДИА-Фарм»</strong></p>
								<p>Ул. Гжатская, 22/4</p>
								<p>Тел.: <a href="tel:+7 (812) 386-386-5">+7 (812) 386-386-5</a></p>
							</div>
						</div>

						<div class="buy__column buy__column--2">
							<div class="buy__text buy__text--city">
								<span class="buy__icon">
									<img src="/images/icon-location.svg" alt="location" />
								</span>
								<strong>Москва</strong>
							</div>

							<div class="buy__text">
								<p><strong>ООО «Торгфарм»</strong></p>
								<p>
									ул. Первомайская д.42 корп.3 <br />
									(аптека в маг. Пятерочка) <br />
									м. Измайловская
								</p>
								<p>Тел.: <a href="tel:+7 (495) 252-08-02">+7 (495) 252-08-02</a></p>
							</div>

							<div class="buy__text">
								<p><strong>ООО «ДИА-Фарм» </strong></p>
								<p>1-й Хорошевский пр-д, д 10, корп. 1</p>
								<p>
									Тел.: <a href="tel:+7 (495) 198-1 1-98">+7 (495) 198-1 1-98</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			@@include('tpl/footer.html')
		</section>

		@@include('tpl/scripts.html')
	</body>
</html>
