<header class="header">
	<div class="header__container">
		<a href="https://biosurf.ru/" class="header__logo">
			<img src="/images/logo.png" alt="logo" />
		</a>

		<div class="header__links-wrapper">
			<div class="header__links">
				<a class="header__link" href="/" data-section="about">о препарате</a>
				<div class="header__block">
					<a class="header__link header__link--dropdown" href="/" data-section="only">РДС взрослых</a>
					<div class="header__dropdown">
						<a class="header__link" href="/" data-section="epidemics">пневмония</a>
						<a class="header__link" href="/" data-section="disasters"
						>техногенные катастрофы</a
						>
					</div>
				</div>
				<a class="header__link" href="/" data-section="effective">туберкулез</a>
				<a class="header__link" href="/" data-section="treatment">Рдс новорожденных</a>
				<a class="header__link" href="/" data-section="buy">Где купить?</a>
			</div>
		</div>

		<button class="header__menu-icon menu-icon"></button>
	</div>
</header>
